#div1{
	border: 1px solid red;
	padding: 50px;
	padding-top: 5%;
	padding: 20px 50px 60px 25px;
	padding-bottom: 20%;

}


#div2{
		padding-top: 20%;
		border: 1px solid green;
}

body{
	border : 1px solid black;
}